ALTER PROCEDURE [dbo].[_disc_getBandAlbums] (@idArtist INT, @idAlbumtype INT, @minyear INT = 0, @maxyear INT = 9999)
AS
BEGIN
    SELECT DISTINCT a.id
					, a.idBand
					, a.albumName
					, a.albumYear
					, a.idAlbumType
		FROM _BandAlbum a
			INNER JOIN _BandTrack b ON b.idAlbum = a.id
        WHERE a.idBand = @idArtist
            AND a.idAlbumType = @idAlbumtype
            AND a.albumYear >= @minyear
            AND a.albumYear <= @maxyear
END